.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 10px;
  font-family: 'Open Sans', sans-serif;
}
.content__about {
  flex-grow: 0;
  width: 450px;
  margin-right: 50px;
  padding: 20px;
  border: 20px solid #c8ddd8;
}
.content__project {
  flex-grow: 0;
  padding: 20px;
  border: 20px solid #d7ddc8;
}
.about {
  display: flex;
  flex-direction: column;
}
.about__avatar-block {
  flex-grow: 0;
}
.about__text-block {
  flex-grow: 0;
}
.about__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.about__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.about__icon {
  text-align: center;
}
.about__icon-link {
  text-decoration: none;
}
.about__text {
  padding: 0;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4rem;
}
.about__text--end {
  margin-bottom: 0;
}
.about__list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}
.about__item {
  font-size: 1rem;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects__project {
  position: relative;
  flex-grow: 0;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
.projects__img {
  display: block;
  max-width: 100%;
}
.projects__description {
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  transition: opacity 0.2s ease-out 0.1s;
}
.projects__project:hover .projects__description {
  opacity: 1;
}
.projects__list {
  margin: 0;
  padding: 20px;
  list-style: none;
}
.projects__item {
  padding: 10px 0;
}
.projects__item--small {
  font-size: 1rem;
}
.projects__link {
  display: inline-block;
  padding: 5px 35px;
  margin: 0px 5px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
}
.projects__link:hover {
  background-color: rgba(25, 25, 25, 0.7);
}
.sprite {
  position: relative;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0px 3px;
}
.sprite:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  font-style: normal;
  bottom: -22px;
  left: -20px;
  white-space: nowrap;
  color: #000;
}
.sprite.sprite-CV {
  background-position: -10px -10px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-CV:hover:after {
  content: 'резюме hh.ru';
}
.sprite.sprite-fb {
  background-position: -62px -10px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-fb:hover:after {
  content: 'facebook.com';
}
.sprite.sprite-github {
  background-position: -10px -62px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-github:hover:after {
  content: 'github.com';
}
.sprite.sprite-mail {
  background-position: -62px -62px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-mail:hover:after {
  content: 'nik-el@mail.ru';
}
.sprite.sprite-vk {
  margin-right: 10px;
  background-position: -114px -10px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-vk:hover:after {
  content: 'vk.com';
}
@media (max-width:1100px) {
  .content {
    flex-direction: column;
    margin-top: 10px;
  }
  .content__about {
    flex-grow: 0;
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .content__project {
    flex-grow: 0;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  .about {
    flex-grow: 1;
    flex-direction: row;
    margin-right: 0px;
  }
  .about__avatar-block {
    width: 40%;
    margin-right: 50px;
  }
  .about__text-block {
    width: 60%;
  }
  .projects {
    flex-direction: column;
  }
  .projects__project {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    border: 10px solid #d7ddc8;
  }
  .projects__description {
    flex-grow: 1;
    width: 50%;
    position: relative;
    opacity: 1;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    font-weight: 400;
  }
  .projects__img {
    flex-grow: 0;
    align-items: center;
    width: 50%;
    min-width: 400px;
    height: auto;
  }
  .projects__list {
    padding: 0px;
  }
  .projects__link {
    padding: 5px 35px;
    margin: 2px 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 2px;
  }
}
@media (max-width:680px) {
  .content {
    margin: 0;
  }
  .content__about {
    box-sizing: border-box;
    width: 100%;
  }
  .content__project {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    padding: 0;
  }
  .about {
    flex-direction: column;
  }
  .about__avatar-block {
    margin: 0 auto;
    width: 100%;
  }
  .about__text-block {
    width: 100%;
  }
  .about__text {
    text-align: left;
  }
  .projects {
    flex-grow: 0;
  }
  .projects__project {
    flex-direction: column-reverse;
    border-width: 0px;
    border-bootom: 3px solid #d7ddc8;
  }
  .projects__list {
    margin: 0;
    padding: 5px;
    list-style: none;
  }
  .projects__item {
    padding: 5px 0;
  }
  .projects__item--small {
    font-size: .8rem;
  }
  .projects__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .projects__img {
    width: 100%;
    max-width: 100%;
    min-width: 200px;
  }
}
